<div class="container" >
   
    <form >
        <div class="form-group">
            <label>ID</label>
            <input type="text" hidden value="{{event.id}}"  >
        </div>
        <div class="form-group">
            <label>Nom de l'événement</label>
            <input type="text" class="form-control"  value="{{event.title}}">
            
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date"  value="{{event.date}}" class="form-control" >
        </div>
        <div class="form-group">
            <label>Lieux</label>
            <input type="text" class="form-control"  name="lieux" value="{{event.lieux}}">
        </div>
        <button class="btn btn-success" (click)="onUpdateEvent()">Save</button>
    </form>
</div>

